.emailLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    height: 40px;
    cursor: pointer;
}
.emailLogin:hover{

    transform:scaleZ(-1);
}

.emailLogin .emailLoginText {
    color: rgb(110, 117, 124);
    margin-left: 12px;
}